@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Parkinsans", serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #16161a;
}

.todo{
    background-color: #f2e8cf;
    padding: 32px;
    border: 0.4px solid #ffc86f;
    border-radius: 16px;
    color: #3d405b;
    box-shadow: 2px 2px 4px 0px #ffb43c;
    color: #16161a;
}

.todo h2{
    text-align: center;
    font-size: 32px;
    margin-bottom: 8px;
}

.user-input{
    padding: 2px 18px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    min-width: 320px;
}

.user-input input{
 font-size: 16px;
 border-radius: 4px;
 border: none;
 padding: 8px 6px;
}

.user-input input[type = "date"]{
    cursor: pointer;
}

.user-input .add-task-btn{
    border-radius: 0.4rem;
    padding: 0.8rem 0.8rem;
    background-color: #fffffe;
    color: #7f5af0;
    cursor: pointer;
    font-size: 1.1rem;
    transition: all 0.2s;
    border: 0.024rem solid #7f5af0;
}

.user-input .add-task-btn:hover{
    box-shadow:  -1px 2px 8px 0px rgba(127,90,240,1);
    background-color: #7f5af0;
    color: #fffffe ;
    border: 1px solid #7f5af0
}

.ongoing-tasks ul li{
    padding: 0;
    margin: 0;
}

.ongoing-tasks ul{
    padding: 8px 36px
}

.ongoing-tasks .task-heading{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.ongoing-tasks p{
    margin-bottom: 4px;
}

.ongoing-tasks .btn-div{
    margin: 6px 0;
    display: flex;
    justify-content: space-evenly;
}

.ongoing-tasks .btn{
    border-radius: 0.4rem;
    padding: 0.4rem 0.8rem;
    cursor: pointer;
    font-size: 1.1rem;
    transition: all 0.2s;
    font-weight: bold;
    background-color: #f2e9e4;
    border: 0.024rem solid #3d405b;
    color: #3d405b;
}

.ongoing-tasks .done-btn:hover{
    background-color: #81b29a;
    box-shadow:  -1px 2px 8px 0px #81b29ada;
    color: #fffffe;
    border: 1px solid #81b29a;
}

.ongoing-tasks .edit-btn:hover{
    background-color: #e07a5f;
    box-shadow:  -1px 2px 8px 0px #e07b5fb5;
    color: #fffffe;
    border: 1px solid #e07a5f;
}